<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @enquiry.user_id %>
</p>

<p>
  <b>Question:</b>
  <%= @enquiry.question_id %>
</p>


<%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%= link_to 'Back', enquiries_path %>
