<!DOCTYPE html>
<html>
<head>
  <title>UPESite</title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "t", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<section class = "container">
		<%= yield %>
	</section>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "bootstrap" %>
</body>
</html>
