<%= form_for(@question, :html =>{:class => "form-horizontal well"}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Ask a Question</legend>
  <fieldset>
    <div class="control-group">
        <%= f.text_field :title, :cols => 250,:placeholder => "Title",:class=>"fill" %>
    </div>
    <div class="control-group">
        <%= f.text_area :description, :rows => "10",:placeholder=> "Describe your problem here",:class=>"fill" %>
    </div>
    <div class="control-group">
        <%= f.text_field :score, :cols => 250,:placeholder => "Score",:class=>"fill" %>
    </div>
    <div class="form-actions">
      <%= f.submit "Submit Question", :class=>"btn btn-primary" %>
      <%= f.submit "Cancel", :class=>"btn"%>
    </div>
<%end%>