<h1>Listing questions</h1>

<div class ="row">
  <% @questions.each do |question| %>
  <div class ="span1">
    <%= question.score%>
    hotness
  </div>
  <div class ="span1">
    <%= question.answers.count%>
    answers
  </div>
  <div class ="span1">
     <%= question.view_count%>
     views
  </div>
  <div class ="row">
    <div class ="span9">
      <%= link_to question[:title], question_path(question, :id =>question.id)%>
      <ul class = "tags">
        <% question.tags.order(:id).zip(question.taggings).each do |tag,tagging|%>
          <li>
            <%= link_to tag.name, tag_path(tag.name),:class => "badge badge-inverse"%>
          </li>
        <%end%>
      </ul>
      <div class ="span9 pull-right">
    created by: <%=link_to question.user.username, user_path(question.user.username)%>
      (<%=question.created_at.strftime("%d %b %Y")%>)
    </div>
    </div>
  </div>
  <%end%>
</div>
