<p id="notice"><%= notice %></p>

<h2><%=@question.title%></h2>
<div class="row">
  <div class="span1">
    vote up
    <br>
    Score goes here
    <br>
    vote down
  </div>
  <div class = "row">
    <div class="span11">
      <%=@question.description%><ul class = "tags">
        <% @tags.zip(@question.taggings).each do |tag,tagging|%>
        <li class="badge badge-inverse">
          <%= link_to tag.name, tag_path(tag.name),:class=>"tag"%>
          <%=link_to "x", question_tagging_path(@question,tagging.id),:class=>"tag", :method => :delete if @question.user == @current_user%>
        </li>
        <%end%>
      </ul>

      <% if @question.user == @current_user%>
      <div class="span11-tag">
        <%= form_for @tag, :url=> question_taggings_path(@question) do |t|%>
        <%= t.text_field :name %>
        <%= t.submit "Add tag", :class=>"btn-small"%>
        <%end%>
      </div>
      <%end%>
        <% if @current_user == @question.user%>
        <div class ="span5-tag pull-left">
          <%= link_to "edit", edit_question_path(params[:id], :user_id => @user)%>
          <%= link_to "delete", question_path(params[:id]),:method=>:delete,:data=>{:confim=> 'Confirm question deletion. This action cannot be undone.'}%>
        </div>
        <%end%>
        <div class="span5-tag pull-right">
          Asked on <%=@question.created_at.strftime("%d %b %Y")%> at <%=@question.created_at.strftime("%I:%M:%S")%> 
          <%=link_to @question.user.username, @question.user.username%>
        </div>
      </div>
  </div>
</div>
<h2>Answers</h2>
<%if @question.answers.any?%>
<% @question.answers.each do |a|%>
<div class="row">
  <div class="span1">
    vote up
    <br>
    Score goes here
    <br>
    vote down
    <% if @current_user ==@question.user %>
          <% if a.correct %>
            <% btn_txt = "Chosen Answer" %>
            <% btn_class = "answerButton btn btn-small btn-success disabled hidden" %>
          <% else %>
            <% btn_txt = "Select Answer" %>
            <% btn_class = "answerButton btn btn-small btn-success" %>
          <% end %>
          <%= link_to btn_txt, 
              question_answer_path(@question, a, :answer => {:correct => true}, :format => "json"), 
              :method => :put,
              :remote => :true, 
              :class => btn_class %>
        <% end %>
  </div>
  <div class="row">
    <div class="span11">
      <%=a.solution%>
      <% if @current_user == a.user%>
      <div class ="row">
        <div class="span5 pull-left">
          <%= link_to "edit", edit_question_answer_path(@question,a)%>
          <%= link_to "delete", question_answer_path(@question,a),:method=>:delete,:confirm=> 'Confirm question deletion. This action cannot be undone.'%>
        </div>
        <%end%>
        <div class="span5 pull-right">
         Posted on <%=a.created_at.strftime("%d %b %Y")%> at <%=a.created_at.strftime("%I:%M:%S")%> 
         <%=link_to a.user.username, a.user.username%>
       </div>
     </div>
   </div>
 </div>
</div>
<%end%>
<%end%>
<%= javascript_tag do %>
    $(".answerButton").bind("ajax:complete", function(et, e, s){
      if(s == "success") {
        $(".answerButton").text("Select Answer").removeClass("disabled hidden");
        $(".answerButton").show();
        $(".answerButton").parent('li').removeClass("alert alert-success");

        $(this).text("Chosen Answer").addClass("disabled").hide();
        $(this).parent('li').addClass("alert alert-success");
      }
    });
  <% end %>
<% if @current_user && params[:controller] != "answers"%>
<%= render :template => 'answers/new' %>
<%end%>