<%= form_for(@answer,answer_form_options) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :solution, :rows => "10",:placeholder=> "Write your solution here",:class=>"fill"%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Post solution",:class=>"btn btn-primary"%>
  </div>
<% end %>
