<h1>Listing solves</h1>

<table>
  <tr>
    <th>User</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @solves.each do |solf| %>
  <tr>
    <td><%= solf.user_id %></td>
    <td><%= solf.question_id %></td>
    <td><%= link_to 'Show', solf %></td>
    <td><%= link_to 'Edit', edit_solf_path(solf) %></td>
    <td><%= link_to 'Destroy', solf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Solf', new_solf_path %>
